<br><br>
<div class="container ">
    <div class="row">
        <div class="col-lg-6 aa">
            <h3 style="text-align: center;"> View Menu Details</h3>
            <hr>
            <div style="text-align: center;">
                <div style="font-size: 20px;">
                    <label> <b> Menu Id: </b></label> {{menu.mid}}
                </div>
                <div style="font-size: 20px;">
                    <label> <b> Title: </b></label> {{menu.title}}
                </div>
                <div style="font-size: 20px;">
                    <label> <b> Price: </b></label> ${{menu.price}}
                </div>
<br>
                <button class="btn btn-dark" type="submit" (click)="goBack()">Back</button>

            </div>
        </div>
    </div>

</div>
<br>
<br>
<br>