<div *ngIf="router.url!='/adminpage'">
  <div *ngIf="router.url!='/userpage'">
    <div *ngIf="router.url!='/usermenu'">
      <div *ngIf="router.url!='/userhome'">
      <div *ngIf="router.url!='/userspecials'">
      <div *ngIf="router.url!='/userabout'">
      <div *ngIf="router.url!='/usermenu'">
      <div *ngIf="router.url!='/userchefs'">
        <div *ngIf="router.url!='/userevents'">
          <div *ngIf="router.url!='/userreviews'">
           <div *ngIf="router.url!='/userbooktable'">
            <div *ngIf="router.url!='/addtocart'"> 
              <div *ngIf="router.url!='/adminpage'"> 
                <div *ngIf="router.url!='/adminhome'"> 
                  <div *ngIf="router.url!='/adminmenu'"> 
                    <div *ngIf="router.url!='/adminreport'">
                      <div *ngIf="router.url!='/payment'">
                        <div *ngIf="router.url!='/admincartlist'">
                          <div *ngIf="router.url!='/adminuserlist'">
                            <div *ngIf="router.url!='/adminviewbook'">
                              <div *ngIf="router.url!='/adminmenulist'">
                                <div *ngIf="router.url!='/updatemenu'">
                                  <div *ngIf="router.url!='/viewmenu'">
                                    <div *ngIf="router.url!='/adminreviewlist'">
                                      <div *ngIf="router.url!='/adminpaymentlist'">

              
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">


  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="home">Russo's Kitchen<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

    <nav id="navbar" class="navbar">
      <ul>

        <!-- <li><a class="nav-link scrollto active" href="" routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a class="nav-link scrollto" href="" routerLink="about" routerLinkActive="active">About</a></li>
        <li><a class="nav-link scrollto" href="" routerLink="menu" routerLinkActive="active">Menu</a></li>
        <li><a class="nav-link scrollto " href="" routerLink="specials" routerLinkActive="active">Specials</a></li>
        <li><a class="nav-link scrollto " href="" routerLink="booktable" routerLinkActive="active">Book a Table</a></li>
        <li><a class="nav-link scrollto " href="" routerLink="/signup" routerLinkActive="active">Sign Up</a></li> -->
        <li class="dropdown"><span>Login</span> <i class="bi bi-chevron-down"></i>
          <ul>
            <li><a href="" class="nav-link scrollto" routerLink="/admin" routerLinkActive="active"><span>Admin Login</span>
              <i class="bi bi-chevron-right"></i></a>
            <li><a href="" class="nav-link scrollto" routerLink="/login" routerLinkActive="active"><span>User Login</span>
                <i class="bi bi-chevron-right"></i></a>
          </ul>
        </li>
        <!-- <li class="dropdown"><span>More</span> <i class="bi bi-chevron-down"></i>
          <ul>
            <li class="dropdown gall"><a class="nav-link scrollto gal"><span>Gallery</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a class="nav-link scrollto dropdown gall" href="" routerLink="events" routerLinkActive="active">Events</a></li>
                <li><a class="nav-link scrollto dropdown gall" href="" routerLink="chefs" routerLinkActive="active">Chefs</a></li>
              </ul>
            </li>
            <li><a href="" class="nav-link scrollto dropdown gall" routerLink="review" routerLinkActive="active"><span>Reviews</span>
                <i class="bi bi-chevron-right"></i></a>
          </ul>
        </li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- <a href="" class="get-started-btn scrollto" routerLink="login" routerLinkActive="active">Login</a>
            <a href="" class="get-started-btn scrollto" routerLink="booktable" routerLinkActive="active">Book a Table</a> -->


  </div>
</header><!-- End Header -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
  </div>
  </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>