<br>
<br>
<br>
<br>

<div class="section-title log">
    <h2>User Login</h2>
</div>

<div class="log"> 

  <!-- <div class="container d-flex align-items-center justify-content-between">

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><span>Login</span> <i class="bi bi-chevron-down"></i>
          <ul>
            <li><a href="" class="nav-link scrollto" routerLink="/admin" routerLinkActive="active"><span>Admin Login</span>
              <i class="bi bi-chevron-right"></i></a>
            <li><a href="" class="nav-link scrollto" routerLink="/login" routerLinkActive="active"><span>User Login</span>
                <i class="bi bi-chevron-right"></i></a>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
   -->
<form #loginform="ngForm" (ngSubmit)="loginUser()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <h3 class="text-danger">{{msg}}</h3><br>
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" id="form2Example1" placeholder="example@xyz.com" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <div *ngIf="email.invalid && email.touched"><small class="text-danger">Enter correct email</small></div>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" required minlength="6" maxlength="16" id="form2Example2" placeholder="min 8 letters" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password">
      <div *ngIf="password.touched && password.invalid"><small class="text-danger">Passowrd should not be blank</small></div>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <!-- <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div> -->
      </div>
  
      <!-- <div class="col"> -->
        <!-- Simple link -->
        <!-- <a href="">Forgot password?</a>
      </div> -->
    </div>
  
    <button [disabled]="loginform.form.invalid" class="w-100 btn btn-lg btn-primary" type="submit"><span>Login</span></button>
    <!-- Submit button -->
    
     

    <!-- <div class="btn1">
    <button (click)="login()" class="btn btn-primary btn-block mb-4 ">
     <span class="go">Login</span>
  </button>
</div> -->
    <!-- Register buttons -->
    <br><br>
    <div class="text-center">
      <p class="not">Not a member? <button (click)="goToPage('signup')" class="btn btn-primary btn-block mb-4 ">
        <span class="go">Go to signup Page</span>
     </button></p>
    </div>
  </form>
</div>